attrs==17.3.0
certifi==2018.1.18
coverage==4.4.2
hypothesis==3.38.5
numpy==1.14.0
pluggy==0.6.0
py==1.5.2
Pympler==0.5
pytest==3.3.2
pytest-cov==2.5.1
pytest-mock==1.7.0
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
zope.interface==4.4.3
